{% extends 'base.html' %}
{% block title %}Accès non autorisé{% endblock %}
{% block content %}
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="alert alert-danger" role="alert">
            {% if details %}
                {{ details }}
            {% else %}
                <h1>Accès non autorisé</h1>
                <p>Vous n'avez pas accès à cette page</p>
            {% endif %}
        </div>
        <div>
            <a href="{% if to_admin %}{{ url_for("query") }}{% else %}{{ url_for("user.index") }}{% endif %}">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}
