:root {
  --f-primary: #725794;
  --f-secondary: #4a5268;
  --f-dark: #2d3448;
  --f-light: #edf1f7;
  --f-info: #487982;
  --f-success: #338650;
  --f-warning: #cc4e13;
  --f-danger: #c42719;
  --f-muted: #545454;
  --f-violet: #725794;
  --f-orange: #cc4e13;
  --f-bleu: #344c52;
  --f-rouge: #c42719;
  --f-vert: #338650;
  --f-body-bg: #e2e7f0;
  --f-g1: #f7fafc;
  --f-g2: #edf1f7;
  --f-g3: #e2e7f0;
  --f-g4: #cbd7e0;
  --f-g5: #a0abc0;
  --f-g6: #677490;
  --f-g7: #4a5268;
  --f-g8: #2d3448;
  --f-g9: #1a1e2c;
  --f-g10: #0b1c54;
  --f-f1: #fbf5ff;
  --f-f2: #edd8fd;
  --f-f3: #dcbcfa;
  --f-f4: #c194f4;
  --f-f5: #a87ede;
  --f-f6: #977ac2;
  --f-f7: #725794;
  --f-f8: #50386e;
  --f-f9: #3d2957;
  --f-f10: #400180;
  --f-b1: #edfeff;
  --f-b2: #b3e4e6;
  --f-b3: #8ccfd1;
  --f-b4: #6badb3;
  --f-b5: #55919e;
  --f-b6: #487982;
  --f-b7: #344c52;
  --f-b8: #273236;
  --f-b9: #112429;
  --f-b10: #003d52;
  --f-v1: #f2fff5;
  --f-v2: #8feba4;
  --f-v3: #6ad481;
  --f-v4: #4fb86b;
  --f-v5: #3ba161;
  --f-v6: #338650;
  --f-v7: #29573b;
  --f-v8: #213b2d;
  --f-v9: #0b2e19;
  --f-v10: #005727;
  --f-o1: #fff9f0;
  --f-o2: #fee7c8;
  --f-o3: #fbc98d;
  --f-o4: #f6a055;
  --f-o5: #fc8e3a;
  --f-o6: #dd6418;
  --f-o7: #cc4e13;
  --f-o8: #9c3c1c;
  --f-o9: #7b2f1a;
  --f-o10: #c43800;
  --f-r1: #fff6f5;
  --f-r2: #fedcd7;
  --f-r3: #febbb2;
  --f-r4: #fc8f81;
  --f-r5: #f57665;
  --f-r6: #e65740;
  --f-r7: #d93e25;
  --f-r8: #c42719;
  --f-r9: #9c221c;
  --f-r10: #c51802;
  --f-d1: #fff;
  --f-d2: #f1f1f1;
  --f-d3: #e7e7e7;
  --f-d4: #d3d3d3;
  --f-d5: #acacac;
  --f-d6: #767676;
  --f-d7: #545454;
  --f-d8: #363636;
  --f-d9: #1f1f1f;
  --f-d10: #482826;
}

.violet {
  color: var(--f-violet);
}

.orange {
  color: var(--f-orange);
}

.bleu {
  color: var(--f-bleu);
}

.rouge {
  color: var(--f-rouge);
}

.vert {
  color: var(--f-vert);
}

:root {
  --bs-primary: var(--f-primary);
  --bs-secondary: var(--f-secondary);
  --bs-dark: var(--f-dark);
  --bs-light: var(--f-light);
  --bs-info: var(--f-info);
  --bs-success: var(--f-success);
  --bs-warning: var(--f-warning);
  --bs-danger: var(--f-danger);
  --bs-muted: var(--f-muted);
}

.btn-primary {
  color: var(--f-light);
  background-color: var(--f-primary);
  border-color: var(--f-primary);
}

.btn-primary:hover {
  background-color: #5f497c;
}

body {
  background: #50386e url("bg-sky.jpg") no-repeat 50% !important;
  background-size: cover;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body > * {
  position: relative;
}

header nav a:last-of-type {
  text-decoration: none;
  color: var(--f-g7) !important;
  background-image: linear-gradient(var(--f-g7), var(--f-g7));
  background-size: 0 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease-in-out;
}

header nav a:last-of-type:focus,
header nav a:last-of-type:hover {
  background-size: calc(100% - 1rem) 4px;
}

header nav a:first-of-type {
  background: none;
}

main.container {
  background: var(--f-g2);
  border-radius: 1.75rem;
  padding: 4rem 3rem 3rem;
  margin: 5rem auto;
}

@media (max-width: 768px) {
  main.container {
    padding: 5rem 1.5rem 3rem;
  }
}

main.container > * {
  max-width: 800px;
  margin: 1rem auto;
}

h1 {
  display: inline-block;
  background: var(--f-o6);
  padding: 1.25rem 0.75rem 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2.4rem;
  font-family: Tovari Sans, sans-serif;
  font-style: normal;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%) rotate(-2deg);
  min-width: 450px;
  position: absolute;
  top: -2rem;
  left: 50%;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    min-width: 275px;
  }
}

main.container > .border.rounded.p-2,
main.container > .bg-white.rounded.p-2 {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.btn {
  border: none;
}
.alert-danger {
  position: inherit;
} /* fix h1 on page not found */

a:not(.btn) {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(#fc8e3a, #fc8e3a),
    linear-gradient(#a0abc0, #a0abc0);
  background-size: 0 2px, 100% 2px;
  background-position: bottom, bottom;
  transition: background-size 0.25s ease-in-out;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 2px;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  background-size: 100% 2px;
}

/* Email form + Report problem form */
main.container > .border.rounded.p-2 form,
main.container > .bg-white.rounded.p-2 form {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* User card */
.card {
  border: none;
}

.card .align-item-center {
  align-items: flex-start;
}

/* Table of receipt */
.rounded.bg-white.p-2 {
  padding: 1rem !important;
}

.rounded.bg-white.p-2 h2 {
  color: var(--f-g10);
  font-family: Tovari Sans, sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@font-face {
  font-family: Tovari Sans;
  src: url('fonts/TovariSans.woff2') format("woff2");
}
