{# djlint:off H030,H031 #}
<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename="favicon.png") }}">
        <link rel="apple-touch-icon"
              href="{{ url_for('static', filename="apple-touch-icon.png") }}">
        <link href="{{ url_for('static', filename='bootstrap.min.css', _external=True) }}"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">
        <link href="{{ url_for('static', filename='theme.css', _external=True) }}"
              rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body class="h-100" style="background: #ebf0f5">
        <header>
            <nav class="bg-white">
                <div class="container mx-auto d-flex justify-content-between align-items-center py-2">
                    <a href="{{ url_for("user.request_receipt") }}"
                       class="text-decoration-none text-secondary d-flex align-items-center gap-3">
                        <img alt=""
                             height="50"
                             width="50"
                             src="https://soutenir.framasoft.org/img/icons/soutenir.svg">
                        <span class="h3 m-0 pt-1 pl-1">Soutenir <b class="violet">Frama</b><b class="orange">soft</b></span>
                    </a>
                    <a href="https://soutenir.framasoft.org/fr/#questions" target="_blank">FAQ</a>
                </div>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <main class="container mx-auto">
            {% for message in get_flashed_messages() %}<div class="my-3 flash alert alert-info">{{ message }}</div>{% endfor %}
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
