{% extends 'base.html' %}
{% block title %}Erreur{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        {% if details %}
            {{ details }}
        {% else %}
            Une erreur est survenue
        {% endif %}
    </div>
    <div>
        <a href="{% if to_admin %}{{ url_for("admin.query") }}{% else %}{{ url_for("user.index") }}{% endif %}">Retour à la page d'accueil</a>
    </div>
{% endblock %}
