{% extends 'base.html' %}
{% block title %}Administration&nbsp;: Produire un reçu de dons{% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-center border my-2 p-2 rounded bg-white">
        <h1>Administration&nbsp;: Produire un reçu de dons</h1>
        <p>Cette page vous permet d'accéder directement aux reçus de dons pour un email en particulier.</p>
        <form action="/admin/receipt" method="post">
            <div class="mb-3">
                <label for="donator_email" class="form-label">Courriel</label>
                <input class="form-control" name="email" type="email" id="donator_email" />
            </div>
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>
    </div>
{% endblock %}
