{% extends 'base.html' %}
{% block title %}Liste des reçus de dons{% endblock %}
{% block content %}
    <div class="d-flex my-4 gap-4 justify-content-between flex-wrap flex-sm-nowrap">
        <div class="flex-grow-sm-1 flex-shrink-1">
            <h1 class="h2">Liste des reçus de dons</h1>
            {% if is_admin %}
                <div class="alert alert-primary" role="alert">
                    Rappel&nbsp;: les dons sont importés dans Odoo mensuellement, il est possible que le mois en cours soit manquant.
                </div>
            {% else %}
                <p>
                    Bienvenue, vous trouverez ci-dessous la liste des reçus émis pour l'ensemble de vos dons à Framasoft. Framasoft vous remercie énormément pour vos dons.
                </p>
            {% endif %}
        </div>
        <div class="card flex-grow" style="min-width: 18rem;">
            <div class="card-body">
                <div class="d-flex gap-2 align-items-center">
                    {% if donor.is_company %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="40"
                             height="40"
                             fill="currentColor"
                             class="bi bi-building"
                             viewBox="0 0 16 16">
                            <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z" />
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="40"
                             height="40"
                             fill="currentColor"
                             class="bi bi-person-circle"
                             viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    {% endif %}
                    <div>
                        <h5 class="card-title">{{ donor.display_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ donor.email }}</h6>
                    </div>
                </div>
                <p class="card-text">
                    <address>
                        {% if donor.street and donor.street | trim %}
                            {{ donor.street | html_escape | safe }}
                            <br />
                            {{ donor.street2 | html_escape | safe }}
                            {% if donor.street2 %}<br />{% endif %}
                            {{ donor.zip | html_escape | safe }} {{ donor.city | html_escape | safe }}
                            {% if donor.country_id and donor.country_id[1] %}<br />{% endif %}
                            {{ donor.country_id[1] }}
                        {% elif donor.contact_address and donor.contact_address | trim %}
                            {{ donor.contact_address | html_escape | safe }}
                        {% endif %}
                    </address>
                    {% if is_admin %}
                        <a href="https://odoo.framasoft.org/web#id={{ donor.id }}&model=res.partner"
                           target="_blank">Voir sur Odoo</a>
                    {% else %}
                        <a href="{{ url_for('user.report_issue', subject='wrong_personal_informations', token=token) }}">Signaler une erreur dans mes informations</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% if not is_admin %}
        <div class="flash alert alert-info">
            <h4 class="alert-heading">Quelque chose semble incorrect?</h4>
            <p>
                Les dons sont affichés ici environ un mois après qu'ils soient effectués. Il est donc possible que l'intégralité de vos dons ne soient pas encore affichés.
            </p>
            <p>
                Vous pouvez aussi <a href="{{ url_for('user.report_issue', subject='missing_receipt', token=token) }}">nous signaler une erreur</a>.
            </p>
        </div>
    {% endif %}
    {% if receipts | length > 0 %}
        {% for year, sub_receipts in grouped_receipts %}
            <div class="rounded bg-white p-2">
                <h2 id="#receipt-{{ year }}">{{ year }}</h2>
                <a class="btn btn-primary"
                   href="{% if is_admin %}{{ url_for('admin.grouped_receipts', year=year, email=donor.email) }}{% else %}{{ url_for('user.grouped_receipts', year=year, token=token) }}{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-download"
                         viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                    Tout télécharger
                </a>
                {% if is_admin %}
                    <a class="btn btn-primary"
                       href="{{ url_for('admin.send_grouped_receipts', year=year, email=donor.email) }}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-envelope"
                             viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                        <span class="ms-2">Envoyer par email</span>
                    </a>
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered my-4">
                        <thead>
                            <tr>
                                <th>Date du don</th>
                                <th>Référence du reçu</th>
                                <th>Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for receipt in sub_receipts|sort(attribute='donation_date', reverse=True) %}
                                {% set has_donations = receipt.donation_ids | length > 0 %}
                                {% if has_donations or is_admin %}
                                    <tr class="{% if is_admin and not has_donations %}table-danger{% endif %}">
                                        <td>{{ receipt.donation_date | format_date_2_filter }}</td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{% if is_admin %}{{ url_for('admin.receipt', receipt_id=receipt.id) }}{% else %}{{ url_for('user.receipt', receipt_id=receipt.id, token=token) }}{% endif %}">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-download"
                                                     viewBox="0 0 16 16">
                                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                                </svg>
                                                <span class="ms-2">{{ receipt.number }}</span>
                                            </a>
                                            {% if is_admin %}
                                                <a class="btn btn-primary"
                                                   href="{{ url_for('admin.send_receipt', receipt_id=receipt.id) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="16"
                                                         height="16"
                                                         fill="currentColor"
                                                         class="bi bi-envelope"
                                                         viewBox="0 0 16 16">
                                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                                    </svg>
                                                    <span class="ms-2">Envoyer par email</span>
                                                </a>
                                            {% endif %}
                                            {% if has_donations and is_admin %}
                                                <a class="btn btn-light ms-3"
                                                   href="https://odoo.framasoft.org/web#id={{ receipt.id }}&model=donation.tax.receipt"
                                                   target="_blank">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="16"
                                                         height="16"
                                                         fill="currentColor"
                                                         class="bi bi-box-arrow-up-right"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                                                    </svg>
                                                    <span class="ms-2">Odoo</span>
                                                </a>
                                            {% elif is_admin and not has_donations %}
                                                <br />
                                                Aucune donation trouvée pour ce reçu. Il y a probablement une erreur. <a target="_blank"
    href="https://odoo.framasoft.org/web#id={{ receipt.id }}&model=donation.tax.receipt">Le consulter sur Odoo</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ receipt.amount | format_currency }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="p-5 mb-4 bg-light rounded-3">
            <p>Aucun résultat trouvé pour {{ donor.email }}</p>
        </div>
    {% endif %}
{% endblock %}
