{% extends 'base.html' %}
{% block title %}Signaler un problème{% endblock %}
{% block head %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const subjectSelect = document.querySelector('#contact_subject');
        const subjectExtraWrapper = document.querySelector('#subject_extra_wrapper');

        const toggleVisibility = (value) => {
            if (value === 'other') {
                subjectExtraWrapper.classList.remove('d-none');
            } else {
                subjectExtraWrapper.classList.add('d-none');
            }
        }

        subjectSelect.addEventListener('change', event => {
            toggleVisibility(event.target.value)
        })
        toggleVisibility(subjectSelect.value)
    });
    </script>
{% endblock %}
{% block content %}
    <div class="bg-white mt-3 p-2 rounded">
        <h1>Signaler un problème</h1>
        <p>
            Ce formulaire vous permet de signaler un problème avec vos reçus de dons ou vos informations. Nous vous répondrons au courriel donné ci-dessous.
        </p>
        <form action="{{ url_for('user.report_issue', token=token) }}"
              method="post">
            <div class="mb-3">
                <label for="contact_subject" class="form-label">Sujet</label>
                <select class="form-select" id="contact_subject" name="subject">
                    <option value="wrong_personal_informations"
                            {% if subject == 'wrong_personal_informations' %}selected{% endif %}>
                        Informations personnelles incorrectes
                    </option>
                    <option value="missing_receipt"
                            {% if subject == 'missing_receipt' %}selected{% endif %}>
                        Reçus manquants ou incorrects
                    </option>
                    <option value="other">Autre</option>
                </select>
            </div>
            <div class="mb-3 d-none" id="subject_extra_wrapper">
                <label for="subject_extra" class="form-label">Détail du sujet</label>
                <input class="form-control"
                       name="subject_extra"
                       type="subject_extra"
                       id="subject_extra" />
            </div>
            <div class="mb-3">
                <label for="donator_email" class="form-label">Courriel</label>
                <input class="form-control"
                       name="email"
                       type="email"
                       id="donator_email"
                       required
                       placeholder="donateur@chaton.net"
                       value="{{ email }}" />
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
{% endblock %}
