{% extends 'base.html' %}
{% block title %}Recevoir un reçu de dons{% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-center border my-2 p-2 rounded bg-white">
        <h1>Recevoir un reçu de dons</h1>
        <p>
            Cette page vous permet de demander un reçu pour vos dons effectués à Framasoft. Un courriel sera envoyé à l'adresse renseignée lors de votre don, avec un lien pour télécharger vos reçus.
        </p>
        <form action="{{ url_for("user.request_receipt") }}" method="post">
            <div class="mb-3">
                <label for="donator_email" class="form-label">Courriel</label>
                <input class="form-control"
                       name="email"
                       type="email"
                       id="donator_email"
                       required
                       placeholder="donateur@chaton.net" />
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
{% endblock %}
