{# djlint:off H030,H031 #}
<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename="favicon.png") }}">
        <link rel="apple-touch-icon"
              href="{{ url_for('static', filename="apple-touch-icon.png") }}">
        <link href="{{ url_for('static', filename='bootstrap.min.css', _external=True) }}"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC">
        <link href="{{ url_for('static', filename='pdf.css', _external=True) }}"
              rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body class="h-100">
        <header>
            {% block header %}{% endblock %}
        </header>
        <main class="container mx-auto">
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
