{% extends 'pdf/base.html' %}
{% block title %}Reçu au titre des dons à certains organismes d'intérêt général{% endblock %}
{% block content %}
    <header class="row text-center mb-2">
        <div class="col">
            <img alt=""
                 src="{{ url_for('static', filename='biglogo.png', _external=True) }}"
                 width="130"
                 height="118"
                 style="width: 130px;
                        height: 118px" />
        </div>
        <div class="col-6 d-flex">
            <h1 class="align-self-center text-center h5 mb-2 etat-text-color">
                Reçu des dons et versements effectués par les particuliers au titre des articles 200 et 978 du code général des impôts
            </h1>
        </div>
        <div class="col text-end">
            <p style="font-size: 0.85rem">
                Formulaire <span class="etat-text-color">n<sup>o</sup>&nbsp;2041-RD</span>
                <br />
                D'après <span class="etat-text-color">CERFA n<sup>o</sup>&nbsp;11580*05</span>
            </p>
            <span>Numéro d'ordre du reçu</span>
            <div class="ms-5 d-inline-block fw-bold border border-dark border-1">
                <span class="m-1">{{ receipt.number }}</span>
            </div>
        </div>
    </header>
    <section class="border border-dark border-2">
        <h2 class="h5 text-center border-bottom border-dark border-2 p-2 etat-text-color"
            style="background-color: #cccccc">Organisme bénéficiaire des dons et versements</h2>
        <div class="p-1">
            <p>
                <span class="etat-text-color">Nom ou dénomination&nbsp;:</span> Framasoft
            </p>
            <p>
                <span class="etat-text-color">Numéro SIREN ou RNA&nbsp;:</span> 500715776
            </p>
            <div class="mb-3">
                <span class="etat-text-color">Adresse&nbsp;:</span> <address class="d-inline">Framasoft, 10bis Rue Jangot, c/o Locaux Motiv', 69700 Lyon</address>
            </div>
            <p>
                <span class="etat-text-color">Objet&nbsp;:</span> Éducation populaire aux enjeux du numérique et des communs culturels
            </p>
            <p>
                <span class="etat-text-color">Statut&nbsp;:</span> Œuvre ou organisme d'intérêt général (Association loi 1901)
            </p>
        </div>
    </section>
    <section class="border border-dark border-2 mt-4">
        <h2 class="h5 text-center border-bottom border-dark border-2 p-2 etat-text-color"
            style="background-color: #cccccc">Donateur</h2>
        <div class="p-1">
            <p>
                {% if donor.lastname and donor.firstname %}
                    <span class="etat-text-color">Nom&nbsp;:</span> {{ donor.lastname | trim }}
                    <span class="ms-5 etat-text-color">Prénoms&nbsp;:</span> {{ donor.firstname | trim }}
                {% elif donor.display_name | trim %}
                    <span class="etat-text-color">Nom et prénoms&nbsp;:</span>
                    {{ donor.display_name | trim }}
                {% else %}
                    <span class="etat-text-color">Nom et prénoms&nbsp;:</span> <i>Identité inconnue</i>
                {% endif %}
            </p>
            <div class="d-flex gap-2">
                <span class="etat-text-color">Adresse&nbsp;:</span>
                <address class="ms-1">
                    {% if donor.street and donor.street | trim %}
                        {{ donor.street | trim | html_escape | safe }}
                        <br />
                        {% if donor.street2 and donor.street2 | trim %}
                            {{ donor.street2 | trim | html_escape | safe }}
                            <br />
                        {% endif %}
                        {{ donor.zip | trim | html_escape | safe }} {{ donor.city | trim | html_escape | safe }}
                        {% if donor.country_id and donor.country_id[1] %}<br />{% endif %}
                        {{ donor.country_id[1] }}
                    {% elif donor.contact_address and donor.contact_address | trim %}
                        {{ donor.contact_address | html_escape | safe }}
                    {% else %}
                        <i>Adresse inconnue</i>
                    {% endif %}
                </address>
            </div>
        </div>
    </section>
    <section class="mt-4 p-1">
        <p>
            Le bénéficiaire reconnaît avoir reçu des dons et versements ouvrant droit à réduction d’impôt d’un montant de&nbsp;:
        </p>
        <div class="d-flex align-items-center justify-content-center">
            <p class="border border-dark border-3 p-3 fw-bolder">{{ receipt.amount | format_currency }}</p>
        </div>
        <p>
            <span class="fw-bold">Somme en toutes lettres&nbsp;:</span> {{ receipt.amount | number_to_words }} euros
        </p>
        <p>
            <span class="fw-bold">Date du versement ou du don&nbsp;:</span> {{ receipt.donation_date | format_date_2_filter }}
        </p>
        <p>
            Le bénéficiaire certifie sur l’honneur que les dons et versements qu’il reçoit ouvrent droit à la réduction d’impôt prévue à l'article&nbsp;:
        </p>
        <ul class="d-flex gap-3 list-unstyled ms-5">
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" checked />
                200 du CGI
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                978 du CGI
            </li>
        </ul>
        <p class="etat-text-color">Forme du don&nbsp;:</p>
        <ul class="d-flex gap-3">
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Acte authentique
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Acte sous seing privé
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" checked />
                Déclaration de don manuel
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Autres
            </li>
        </ul>
        <p class="etat-text-color">Nature du don&nbsp;:</p>
        <ul class="d-flex gap-3 flex-wrap">
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" checked />
                Numéraire
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Titres de sociétés cotés
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Abandon exprès de revenus ou de produits
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Frais engagés par les bénévoles, dont ils renoncent expressément au remboursement
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox" class="me-1" />
                Autres
            </li>
        </ul>
        <p class="etat-text-color">En cas de don en numéraire, mode de versement du don&nbsp;:</p>
        <ul class="d-flex gap-3">
            {% set donation = donations[0] or {'payment_mode_id': []} %}
            {% set payment_mode_id = donation.payment_mode_id[0] or 0 %}
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox"
                       class="me-1"
                       {% if payment_mode_id == 5 %}checked{% endif %} />
                Remise d’espèces
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox"
                       class="me-1"
                       {% if payment_mode_id == 6 %}checked{% endif %} />
                Chèque
            </li>
            <li class="d-inline-flex align-items-center justify-content-center me-3">
                <input type="checkbox"
                       class="me-1"
                       {% if payment_mode_id in [1,2,3,4] %}checked{% endif %} />
                Virement, prélèvement, carte bancaire
            </li>
        </ul>
    </section>
    {% if donations | length > 0 %}
        <section class="border border-dark border-2 mt-4">
            <h2 class="h5 text-center border-bottom border-dark border-2 mb-0 etat-text-color"
                style="background-color: #cccccc">Détails</h2>
            <table class="table table-striped table-bordered mb-0">
                <thead>
                    <tr>
                        <th>Référence du don</th>
                        <th>Référence de paiement</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr>
                            <td>{{ donation.number }}</td>
                            <td>{{ donation.payment_ref }}</td>
                            <td>{{ donation.amount_total | format_currency }}</td>
                            <td>{{ donation.donation_date | format_date_filter }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
    <section class="d-flex align-items-end justify-content-end mb-4 mt-4">
        <div class="d-flex flex-column">
            <p>Date et signature</p>
            <div class="border border-dark border-2 p-3 me-4">
                <p class="mb-4">Le {{ receipt.date | format_date_2_filter }}, à Lyon</p>
                <img alt=""
                     src="{{ url_for('static', filename='signature-frama.jpg', _external=True) }}"
                     width="200"
                     height="76"
                     style="width: 200px;
                            height: 76px" />
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <div class="text-secondary fs-6 text-center">
        <p>
            <span class="fw-bold" style="color: #725794">Frama</span><span class="fw-bold"  style="color: #cc4e13">soft</span> - Association loi 1901 déclarée en sous-préfecture d'Arles le 2 décembre 2003
            sous le n° 0132007842 - n° Siret : 500 715 776 00026
        </p>
        <p>
            Organisme bénéficiant de la franchise des impôts commerciaux au titre de l'article 261-7-1°-b
            du Code Général des Impôts
        </p>
    </div>
{% endblock %}
