{% extends 'pdf/base_intro.html' %}
{% block title %}Dons effectués à Framasoft en {{ year }}{% endblock %}
{% block content %}
    <div class="h-100 d-flex flex-column">
        <header class="my-5">
            <h1 class="etat-text-color text-center">Dons effectués à Framasoft en {{ year }}</h1>
            <p>
                Vous trouverez dans les pages suivantes le détail des dons effectués. Framasoft vous remercie énormément pour vos dons.
            </p>
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='biglogo.png', _external=True) }}"
                     alt=""
                     width="150"
                     height="137"
                     style="width: 150px;
                            height: 137px" />
            </div>
        </header>
        <section class="mt-5">
            <p>
                <span class="etat-text-color">Nombre de dons&nbsp;:</span> {{ nb_receipts }}
            </p>
            <p>
                <span class="etat-text-color">Somme des dons&nbsp;:</span> {{ total_amount | format_currency }}
            </p>
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='thank-you.png', _external=True) }}"
                     alt=""
                     width="450"
                     height="368"
                     style="width: 450px;
                            height: 368" />
            </div>
        </section>
    </div>
{% endblock %}
