{% extends 'email/base_intro.html' %}
{% block content %}
    <p>Bonjour,</p>
    <p>
        Nous avons reçu une demande d'édition de la liste des dons effectués à Framasoft adressée à cette adresse de courriel.
    </p>
    <p>
        Pour accéder à votre reçu des dons effectués à Framasoft, cliquez sur le lien suivant&nbsp;: <a href="{{ url }}" target="_blank">Mon reçu de dons</a>
    </p>
    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce courriel.</p>
    <p>
        Merci de votre soutien,
        <br>
        L'équipe Framasoft
    </p>
{% endblock %}
