{% extends 'email/base_intro.html' %}
{% block content %}
    <p>Bonjour,</p>
    <p>
        Nous avons reçu une demande d'édition de la liste des dons effectués à Framasoft adressée à cette adresse de courriel.
    </p>
    <p>
        Hélas, nous n'avons pas trouvé de dons effectués à Framasoft à partir de cette adresse de courriel. Assurez-vous que vous avez renseigné la bonne adresse.
    </p>
    <p>
        <a href="{{ url }}" target="_blank">Revenir au formulaire de demande d'édition de reçu</a>
    </p>
    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce courriel.</p>
    <p>
        Merci de votre soutien,
        <br>
        L'équipe Framasoft
    </p>
{% endblock %}
