{% extends 'email/base_intro.html' %}
{% block content %}
    <p>Bonjour {{ display_name }},</p>
    <p>
        En {{ year }}, vous avez fait <b>{{'un don' if nb_valid_donations == 1 else nb_valid_donations ~ " dons" }} à Framasoft</b> pour un montant total de <b>{{ total_amount | format_currency }}</b>&nbsp;: <b>nous vous en remercions sincèrement</b>.
    </p>
    <p>
        <b>Le budget de Framasoft dépend à 96&nbsp;% de vos dons</b>, ce qui permet à l'association de garder une indépendance financière et une grande liberté dans ses actions. Et celles-ci ne seraient pas réalisables sans vous&nbsp;!
    </p>
    <p>
        Ainsi, votre don contribue directement à l'ensemble de nos projets : de nos actions d'<a href="https://framasoft.org/fr/empowerment" target="_blank">émancipation numérique</a> (services en ligne, développement logiciels, contributions...) à nos interventions d'<a href="https://framasoft.org/fr/educ-pop" target="_blank">éducation populaire</a> (articles de blog, prises de parole, conférences...) en passant par diverses <a href="https://framasoft.org/fr/archipelago" target="_blank">coopérations</a> avec des projets portant nos valeurs.
    </p>
    <p>
        <b>Nous vous rappelons que <a href="https://soutenir.framasoft.org/defiscalisation">votre don ouvre droit à une réduction d'impôts</a></b>. Vous trouverez ci-joint votre reçu fiscal, que nous vous invitons à conserver précieusement en cas de contrôle de la part des impôts. Vos reçus sont également récupérables sur le site <a href="https://recu-dons.framasoft.org" target="_blank">recu-dons.framasoft.org</a>.
    </p>
    <p>
        Attention, les dons effectués à compter du 1<sup>er</sup> janvier {{ year_int + 1 }} seront à déclarer sur votre déclaration de revenus {{ year_int + 1 }} que vous recevrez en {{ year_int + 2 }}. Pour plus d'informations, rendez-vous sur <a href="https://soutenir.framasoft.org/defiscalisation">notre page expliquant la défiscalisation</a>. N'hésitez pas à nous contacter si vous avez des questions.
    </p>
    <p>
        <b>Une nouvelle fois, un immense merci pour votre reconnaissance et votre précieux soutien.</b>
    </p>
    <p>
        Pour nous contacter, une seule adresse&nbsp;: <a href="https://contact.framasoft.org" target="_blank">contact.framasoft.org</a>
        <br>
        <i>− "La route est longue mais la voie est libre..."</i>
    </p>
{% endblock %}
